<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<meta charset="UTF-8">
	<title>ヘッダー</title>
</head>

<body>
	<nav layout:fragment="header" class="header-wrap">
		<div>
			<div class="title-label">
				<labe>スケジュールアプリ</labe>
			</div>
			<div class="fl">
				<label>ようこそ『<span th:text="${loginUser}"></span>』さん。</label>
				<div class="logout">
					<form action="#" th:action="@{/logout}" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<button type="submit" class="button-lf">
							ログアウト
						</button>
					</form>
				</div>
			</div>
		</div>
	</nav>
</body>

</html>