<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common/header.css}">
	<link rel="stylesheet" th:href="@{/css/user/complete.css}">
	<title>完了画面</title>
</head>
<body>
	<header class="header_bg">
		<nav layout:replace="~{common/header::header}"></nav>
	</header>
	<div class="wrap">
		<a th:href="@{'/management'}">管理画面へ戻る</a>
		<div class="complete-bg">
			<h1 th:text="${message}"></h1>
			<a th:href="@{'/management'}" class="completeBtn" >OK</a>
		</div>
	</div>
</body>
</html>