<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/user/password.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<title>パスワードの変更</title>
</head>
<body>
	<header class="header_bg">
		<nav layout:replace="~{common/header::header}"></nav>
	</header>
	<div class="wrap">
		<a th:href="@{'/management'}">管理画面へ戻る</a>
		<div class="form">
			<h1>パスワードの変更</h1>
			<form action="#" th:action="@{/updatePassword}" method="post" th:object="${editPasswordForm}">
				<input type="hidden" name="userId" id="userId" th:value="${userId}">
				<div class="password-wrap">
					<th:block th:if="${failMsg != null}">
						<div th:text="${failMsg}" class="errorMsg"></div>
					</th:block>
					<div th:errors="*{currentPassword}" class="errorMsg"></div>
					<label>現在のパスワード</label> 
					<br>
					<input type="password" name="password" th:field="*{currentPassword}"/>
				</div>
				<div class="new-password-wrap">
					<div>
						<th:block th:if="${failMsg2 != null}">
							<div th:text="${failMsg2}" class="errorMsg"></div>
						</th:block>
						<div th:errors="*{newPassword}" class="errorMsg"></div>
						<label>新しいパスワード</label> 
						<br>
						<input type="password" name="new-password" th:field="*{newPassword}"/>
					</div>
					<div>
						<div th:errors="*{newPassword2}" class="errorMsg"></div>
						<label>新しいパスワード(確認用)</label> 
						<br>
						<input type="password" name="new-password2" th:field="*{newPassword2}"/>
					</div>
				</div>
				<button type="submit">更新</button>
			</form>
		</div>
	</div>
</body>
</html>