<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/user/edit/edit.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<script th:src="@{/js/plugin/jquery-3.7.1.min.js}"></script>
	<meta charset="UTF-8">
	<meta th:name="_csrf" th:content="${_csrf.token}">
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
	<title>ログイン情報更新</title>
</head>

<body>
	<header class="header_bg">
		<nav layout:replace="~{header::header}"></nav>
	</header>
	<div class="wrap">
		<a th:href="@{'/user/management'}">管理画面へ戻る</a>
		<a class="password-link" th:href="@{/user/edit/{userId}/password(userId=${editForm.userId})}">パスワードの変更はこちら</a>
		<div class="insert-bg">
			<h1>ユーザー編集</h1>
			<form th:action="@{/}" name="form" method="post" th:object="${editForm}">
				<div class="input-form">
					<div id="errorMsg" class="errorMsg"></div>
					<div>
						<label>ID: <span th:text="${userId}"></span></label>
						<input type="hidden" name="userId" id="userId" th:value="${userId}">
					</div>
					<div>
						<div th:errors="*{accountName}" class="errorMsg"></div>
						<label>アカウント名</label>
						<br>
						<input type="text" name="accountName" id="accountName" placeholder="例）accout_tarou" th:value="${accountName}" />
					</div>
					<div>
						<div th:errors="*{userName}" class="errorMsg"></div>
						<label class="label_1">氏名</label>
						<br>
						<input type="text" name="userName" id="userName"  placeholder="例）太郎" th:value="${userName}"/>
					</div>
					<div>
						<label class="label_2">管理者</label>
						<br>
						<input type="checkbox" name="admin" id="admin" class="checkbox_color" th:checked="${admin}" />
					</div>
					<div>
						<label class="label_2">無効</label> 
						<br>
						<input type="checkbox" name="status" id="status" class="checkbox_color" th:checked="${status}" />
					</div>
				</div>
				<div class="button-form">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<button type="button" id="deleteBtn" class="deleteBtn">削除</button>
					<button type="submit" th:formaction="@{'/user/edit/update'}">更新</button>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/js/user/edit.js}"></script>
</body>

</html>